body,input,p,h1,h2{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto;
  text-align: center;
  font-weight: 400;
}


body{
  color :white;
  background: #181a20;
  font-family: Roboto;
}


section{
  font-family: Roboto, sans-serif;
  font-size: 18px;
  position: relative;
  z-index: 10;
  margin-top: 40px;
  width: 313px;
  padding: 0 10px;
  box-sizing : border-box;
}

img{

  width: 180px;
  margin-left: 10px;
}

a{
  text-decoration: none;
  text-decoration-style: none;
  color : #fcd535;

}
.menu{

  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{

  display: flex;
  justify-content: center;
  align-items: center;
}

.label{
  margin-top: 20px;
  margin-bottom:5px
  font-size: 20px;
  font-family : Roboto;
}

.textFile{
  outline: none;
  border: 2px solid #474d57;
  border-radius: 10px;
  padding: 15px 10px;
  width: 100%;
  box-sizing: border-box;
  background: #181a20;
  color : white;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

.box__boxButton{

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
  height: 60px;
}

.box__boxButton .button{

  background:#fcd535;
  width: 100%;
  border :none;
  padding: 19px 0px;
  font-size: 18px;
  border-radius: 10px;
  color : black;
  font-family: 'Lato', sans-serif;

}

.minlabel{
  margin-top: -60px;
  margin-bottom:5px
  font-size: 15px;
  color : #fcd535;
}

.Error{

  font-family: 'Roboto';
  font-size: 12px;
  color: red;
  font-weight: 100;
  height: 20px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  border-top-color: #fcd535;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: auto;
}

.popup{
  position: fixed;
  bottom: -50px;
  z-index: 4000;
  opacity: 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
    background:red;
  width:250px;
  border :none;
  padding: 10px 0px;
  font-size: 18px;
  border-radius: 10px;
}

.animacion-activa{
    animation: errorAnimationMessage 6s linear;
  animation-fill-mode: forwards;
}

.popup__text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes errorAnimationMessage {
  0% {
    bottom: -50px;
    opacity: 1;
    z-index: 20;
  }
  
  20%{
    bottom: 10px;
    opacity: : 1;
    z-index: 20;

  }

  80%{
    bottom: 10px;
    opacity: 1;
    z-index: 20;

  }
  
  100% {
    bottom: -50px;
    opacity: 1;
    z-index: 20;

  }
}



@media(min-width: 600px){
  body{
    height: 100vh;
  }
}


@media(max-width: 450px){

  section{
    width: 100%;
    padding : 0 10px;
  }

}


