body,input,p,h1,h2{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}


body{
  color :white;
  background: #181a20;
}


section{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight : 400;
  position: relative;
  z-index: 10;
}

.sectionRecarga{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight : 400;
  position: relative;
  z-index: 10;
  width :90%;
  justify-self : center;
  align-self: center;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

a{
 color: #fcd535;
 text-decoration: none;
 display: inline-block;

}

img{

  width: 180px;
  margin-left: 10px;
}

.menu{

  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: #181a20;
  z-index: 19;

}

.menuSaldo{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  border-bottom: 1px solid #474d57;
  font-weight: 400;


}

.saldo{
  margin-left: 10px;
  font-size: 30px;
  font-weight: 400;
}

.buttonSaldo{
  background:#fcd535;
  border :none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  color : black;
  font-weight: 400;
}

.buttonSesion{
  background:#fcd535;
  border :none;
  border-radius: 10px;
  color : black;
  font-weight: 400;
  width: 90px;
  height: 35px;
  margin-top: 10px;
  justify-self: center;
}



.containerImgBigLogo{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  box-sizing: border-box;
}

.container{

  display: flex;
  justify-content: center;
  align-items: center;
}

.label{
  margin-top: 20px;
  margin-bottom:5px
  font-weight: 400;
  font-size: 20px
}

.label2{
  font-size: 15px;
  margin-top: 15px;
  margin-bottom:5px;

}



.textFile{
  outline: none;
  border: 2px solid #474d57;
  border-radius: 10px;
  padding: 15px 10px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 400;
  background: #181a20;
  color : white;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}


option{

  font-weight: 400;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}
select option:hover{
  background-color: #fcd535;
  color: white;
  font-family: 'Roboto', sans-serif;
}

input:hover{
    border: 2px solid #fcd535;
}

.box__boxButton{

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
}

.box__boxButton .button{

  background:#fcd535;
  width: 100%;
  border :none;
  padding: 19px 0px;
  font-size: 18px;
  border-radius: 10px;
  color : black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400
  

  
  
}

.modalPerfil{

   position: absolute;
   top: 45px;
   left: -95px;
   display: grid;
   z-index: 20;
   grid-template-rows: 40px 20px 40px;
   grid-template-columns: 1fr; 
   color: white;
   width :110px;
   height: 110px;
   background: #181a20;
   border: 1px solid #474d57;
   border-radius: 10px;
   padding:5px;
   font-family: 'Roboto', sans-serif;
}

.modalContent{

  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
  display: none;
  z-index: 20;

}

.toggleModalContent{
  display: none;
}


.modal{
  
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   display: grid;
   z-index: 20;
   grid-template-rows:45px 90px 85px;
   grid-template-columns: 1fr; 
   color: white;
   width :250px;
   height:220px;
   background: #181a20;
   border-radius: 10px;
   padding:5px;
   font-family: 'Roboto', sans-serif;
   display: none;

}

/*.modalContent2{

  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
/*  display: none;
  z-index: 20;

}*/

.modal_Recarga{

   position: fixed;
   top: calc(50% + 50px);
   left: 50%;
/*   margin-top: 50px;
*/   transform: translate(-50%, -50%);
   display: grid;
   z-index: 20;
   grid-template-rows:25px 1fr;
   grid-template-columns: 1fr; 
   color: white;
   /*width :50%;*/
   /*height: 70%;*/
   width: 75%;
   height: 80%;
   background: #181a20;
   border-radius: 10px;
   padding:5px;
   font-family: 'Roboto', sans-serif;
   display: none;

}
.contentResultModal{
  
}
.ContentBtnClose{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


.ContentBtnSend{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%
}

.button{

  background:#181a20;
  border : 2px solid #474d57;
  width: 80%;
  border :none;
  padding: 10px 0px;
  font-size: 18px;
  border-radius: 10px;
  color : black;


}

.popup{
  position: fixed;
  bottom: 0px;
  z-index: 4000;
  opacity: 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
    background:red;
  width:250px;
  border :none;
  padding: 10px 0px;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 200;
}

.animacion-activa{
    animation: errorAnimationMessage 6s linear;
  animation-fill-mode: forwards;
}

.popup__text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;

}
.button__operations{
  /*position: absolute;
  z-index: 10;
  top: 15px;
  right: 70px*/;  
  width: 40px;
  height: 40px;
  position: relative;
/*  border-radius: 50%;
*/
  background: none;
  border:none;
  margin: 0;
  padding-top: 15px;
  font-weight: 400;
  color: white;
}
#btnClose{
  padding-top: 5px;
  padding-right: 5px;
}
.button__support span,.button__operations span {
  color: white;
}
.button__support{
  /*position: absolute;
  z-index: 25;
  top: 15px;
  right: 15px;  */
  width: 40px;
  height: 40px;
  /*border-radius: 50%;*/
/*  background-color: #fcd535;
*/  border:none;
  margin: 0;
  padding-top: 15px;
  font-weight: 400;
  background: none;

}

.tap__operations{
   position: fixed;
   z-index: 40;
   bottom: 0px;
   display: grid;
   grid-template-rows:25px 50px 1fr;
   grid-template-columns: 1fr; 
   color: white;
   width :100vw;
   height:65vh;
   background: #181a20;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
}
.list_operations{
  
  display: grid;
  grid-auto-rows: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px; 
  padding: 0px 5px;
  overflow: overlay;
}

.closeOp{
  display: none;
}

.alingP{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-weight: bold;
}



.spinner {
  border: 4px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  border-top-color: #fcd535;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes errorAnimationMessage {
  0% {
    bottom: -50px;
    opacity: 1;
  }
  
  20%{
    bottom: 10px;
    opacity: : 1;

  }

  80%{
    bottom: 10px;
    opacity: 1;

  }
  
  100% {
    bottom: -50px;
    opacity: 1;

  }
}

@media(min-width: 600px){
  body{
    height: 100vh;
  }

  .modal_Recarga{
     width: 50%;
  }

  .sectionRecarga{
    width: 90%
  }
  


}


@media(max-width: 450px){

  section{
    width: 100%;
    padding : 0 10px;
  }

   .modal_Recarga{
     width: 75%;
   }

  .tap__operations{
    margin-top: -35px;
  }

}


